{% extends 'base_template/base_template.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('main.static', filename='CSS/results_style.css') }}">
<link rel="stylesheet" href="{{ url_for('seo.static', filename='CSS/seo_menu_style.css') }}">
{% endblock head %}




{% block navbar %}
{% if session['lang'] == 'ru' %}
<nav class="header-nav_bar">
    <a href="{{ url_for('main.main_page') }}" class="nav_bar-item">Главная</a>
    <a href="{{ url_for('main.services') }}" class="nav_bar-item">Услуги</a>
    <a href="{{ url_for('main.doctors') }}" class="nav_bar-item">Врачи</a>
    <a href="{{ url_for('main.results') }}" class="nav_bar-item">Результаты</a>
    <a href="{{ url_for('main.arts') }}" class="nav_bar-item">Полезное</a>
    <a href="{{ url_for('main.make_an_appointment') }}" class="nav_bar-item">Записаться</a>
    <a href="{{ url_for('main.about') }}" class="nav_bar-item">О нас</a>
    <a href="{{ url_for('main.contacts') }}" class="nav_bar-item">Контакты</a>
</nav>
{% elif session['lang'] == 'en' %}
<nav class="header-nav_bar">
    <a href="{{ url_for('main.main_page') }}" class="nav_bar-item">Main</a>
    <a href="{{ url_for('main.services') }}" class="nav_bar-item">Services</a>
    <a href="{{ url_for('main.doctors') }}" class="nav_bar-item">Doctors</a>
    <a href="{{ url_for('main.results') }}" class="nav_bar-item">Results</a>
    <a href="{{ url_for('main.arts') }}" class="nav_bar-item">Usefuls</a>
    <a href="{{ url_for('main.make_an_appointment') }}" class="nav_bar-item">Sign up</a>
    <a href="{{ url_for('main.about') }}" class="nav_bar-item">About</a>
    <a href="{{ url_for('main.contacts') }}" class="nav_bar-item">Contacts</a>
</nav>
{% else %}
<nav class="header-nav_bar">
    <a href="{{ url_for('main.main_page') }}" class="nav_bar-item">Bosh sahifa</a>
    <a href="{{ url_for('main.services') }}" class="nav_bar-item">Xizmatlar</a>
    <a href="{{ url_for('main.doctors') }}" class="nav_bar-item">Shifokorlar</a>
    <a href="{{ url_for('main.results') }}" class="nav_bar-item">Natijalar</a>
    <a href="{{ url_for('main.arts') }}" class="nav_bar-item">Foydali</a>
    <a href="{{ url_for('main.make_an_appointment') }}" class="nav_bar-item">Ro'yxatdan o'tish</a>
    <a href="{{ url_for('main.about') }}" class="nav_bar-item">Biz haqimizda</a>
    <a href="{{ url_for('main.contacts') }}" class="nav_bar-item">Aloqa</a>
</nav>
{% endif %}
{% endblock navbar %}





{% block burger_navbar %}
<div class="burger_button-nav_bar-item__wrapper">
    {% if session['lang'] == 'ru' %}

    <!-- Nav item -->
    <!-- ------------------------------------------------------------ -->
    <a href="{{ url_for('main.main_page') }}" class="nav_bar-item burger_button-nav_bar-item">Главная</a>
    <a href="{{ url_for('main.services') }}" class="nav_bar-item burger_button-nav_bar-item">Услуги</a>
    <a href="{{ url_for('main.doctors') }}" class="nav_bar-item burger_button-nav_bar-item">Врачи</a>
    <a href="{{ url_for('main.results') }}" class="nav_bar-item burger_button-nav_bar-item">Результаты</a>
    <a href="{{ url_for('main.arts') }}" class="nav_bar-item burger_button-nav_bar-item">Полезное</a>
    <a href="{{ url_for('main.make_an_appointment') }}" class="nav_bar-item burger_button-nav_bar-item">Записаться</a>
    <a href="{{ url_for('main.about') }}" class="nav_bar-item burger_button-nav_bar-item">О нас</a>
    <a href="{{ url_for('main.contacts') }}" class="nav_bar-item burger_button-nav_bar-item">Контакты</a>
    <!-- ------------------------------------------------------------ -->
    <!-- end Nav item -->

    <!-- burger enter btns -->
    <!-- ------------------------------------------------------------ -->
    {% if 'admin_login' in session %}
    <div class="burger_button-enter_btns_wrapper">
        <a href="{{ url_for('admin.index') }}"
            class="burger_button-enter header-enter header-sign_up-btn">АДМИНИСТРАЦИЯ</a>
        <a href="{{ url_for('main.logout') }}" class="burger_button-enter header-enter header-sign_in-btn">ВЫЙТИ</a>
    </div>
    {% elif 'user_login' not in session and 'admin_login' not in session %}
    <div class="burger_button-enter_btns_wrapper">
        <a href="" class="burger_button-enter header-enter header-sign_up-btn">РЕГИСТРАЦИЯ</a>
        <a href="{{ url_for('main.login') }}" class="burger_button-enter header-enter header-sign_in-btn">ВОЙТИ</a>
    </div>
    {% elif 'user_login' in session and 'admin_login' not in session %}
    <div class="burger_button-enter_btns_wrapper">
        <a href="{{ url_for('main.logout') }}" class="burger_button-enter header-enter header-sign_in-btn">ВЫЙТИ</a>
    </div>
    {% endif %}
    <!-- ------------------------------------------------------------ -->
    <!-- end burger enter btns -->
    {% elif session['lang'] == 'en' %}

    <!-- Nav item -->
    <!-- ------------------------------------------------------------ -->
    <a href="{{ url_for('main.main_page') }}" class="nav_bar-item burger_button-nav_bar-item">Main</a>
    <a href="{{ url_for('main.services') }}" class="nav_bar-item burger_button-nav_bar-item">Services</a>
    <a href="{{ url_for('main.doctors') }}" class="nav_bar-item burger_button-nav_bar-item">Doctors</a>
    <a href="{{ url_for('main.results') }}" class="nav_bar-item burger_button-nav_bar-item">Results</a>
    <a href="{{ url_for('main.arts') }}" class="nav_bar-item burger_button-nav_bar-item">Usefuls</a>
    <a href="{{ url_for('main.make_an_appointment') }}" class="nav_bar-item burger_button-nav_bar-item">Sign up</a>
    <a href="{{ url_for('main.about') }}" class="nav_bar-item burger_button-nav_bar-item">About</a>
    <a href="{{ url_for('main.contacts') }}" class="nav_bar-item burger_button-nav_bar-item">Contacts</a>
    <!-- ------------------------------------------------------------ -->
    <!-- end Nav item -->

    <!-- burger enter btns -->
    <!-- ------------------------------------------------------------ -->
    {% if 'admin_login' in session %}
    <div class="burger_button-enter_btns_wrapper">
        <a href="{{ url_for('admin.index') }}"
            class="burger_button-enter header-enter header-sign_up-btn">ADMINISTRATION</a>
        <a href="{{ url_for('main.logout') }}" class="burger_button-enter header-enter header-sign_in-btn">LOG OUT</a>
    </div>
    {% elif 'user_login' not in session and 'admin_login' not in session %}
    <div class="burger_button-enter_btns_wrapper">
        <a href="" class="burger_button-enter header-enter header-sign_up-btn">REGISTRATION</a>
        <a href="{{ url_for('main.login') }}" class="burger_button-enter header-enter header-sign_in-btn">SIGN IN</a>
    </div>
    {% elif 'user_login' in session and 'admin_login' not in session %}
    <div class="burger_button-enter_btns_wrapper">
        <a href="{{ url_for('main.logout') }}" class="burger_button-enter header-enter header-sign_in-btn">LOG OUT</a>
    </div>
    {% endif %}
    <!-- ------------------------------------------------------------ -->
    <!-- end burger enter btns -->
    {% else %}

    <!-- Nav item -->
    <!-- ------------------------------------------------------------ -->
    <a href="{{ url_for('main.main_page') }}" class="nav_bar-item burger_button-nav_bar-item">Bosh
        sahifa</a>
    <a href="{{ url_for('main.services') }}" class="nav_bar-item burger_button-nav_bar-item">Xizmatlar</a>
    <a href="{{ url_for('main.doctors') }}" class="nav_bar-item burger_button-nav_bar-item">Shifokorlar</a>
    <a href="{{ url_for('main.results') }}" class="nav_bar-item burger_button-nav_bar-item">Natijalar</a>
    <a href="{{ url_for('main.arts') }}" class="nav_bar-item burger_button-nav_bar-item">Foydali</a>
    <a href="{{ url_for('main.make_an_appointment') }}" class="nav_bar-item burger_button-nav_bar-item">Ro'yxatdan
        o'tish</a>
    <a href="{{ url_for('main.about') }}" class="nav_bar-item burger_button-nav_bar-item">Biz
        haqimizda</a>
    <a href="{{ url_for('main.contacts') }}" class="nav_bar-item burger_button-nav_bar-item">Aloqa</a>
    <!-- ------------------------------------------------------------ -->
    <!-- end Nav item -->


    <!-- burger enter btns -->
    <!-- ------------------------------------------------------------ -->
    {% if 'admin_login' in session %}
    <div class="burger_button-enter_btns_wrapper">
        <a href="{{ url_for('admin.index') }}"
            class="burger_button-enter header-enter header-sign_up-btn">ADMINISTRATSIYA</a>
        <a href="{{ url_for('main.logout') }}" class="burger_button-enter header-enter header-sign_in-btn">CHIQISH</a>
    </div>
    {% elif 'user_login' not in session and 'admin_login' not in session %}
    <div class="burger_button-enter_btns_wrapper">
        <a href="" class="burger_button-enter header-enter header-sign_up-btn">RO'YXATDAN O'TISH</a>
        <a href="{{ url_for('main.login') }}" class="burger_button-enter header-enter header-sign_in-btn">KIRISH</a>
    </div>
    {% elif 'user_login' in session and 'admin_login' not in session %}
    <div class="burger_button-enter_btns_wrapper">
        <a href="{{ url_for('main.logout') }}" class="burger_button-enter header-enter header-sign_in-btn">CHIQISH</a>
    </div>
    {% endif %}
    <!-- ------------------------------------------------------------ -->
    <!-- end burger enter btns -->
    {% endif %}
</div>
{% endblock burger_navbar %}





{% block content %}

<main class="results-main">


    <!-- results blocks container -->
    <!-- ----------------------------------- -->
    <div class="results-blocks_container">

        <!-- Block -->
        <!-- ======================================== -->
        <div class="results-block results-form_wrapper">

            <!-- Form container -->
            <!-- ----------------------------------- -->
            <div class="results-form_container">

                <a href="{{ url_for('seo.seo_menu') }}" class="results-form_text">
                    Вернуться назад
                </a>


                <!-- Form -->
                <!-- ----------------------------------- -->
                <form method="post" action="{{ url_for('seo.seo_form', menu_item=menu_item) }}" class="results-form">
                    {{ form.hidden_tag() }}
                    <!-- ----------------------------------- -->
                    {{ form.keywords(placeholder="Ключевые слова", id="inp_keywords", class="input_style results-input",
                    cols="30",
                    rows="10") }}
                    <!-- ----------------------------------- -->
                    {{ form.description(placeholder="Описание страницы", id="inp_description", class="input_style
                    results-input", cols="30",
                    rows="10") }}
                    <!-- ----------------------------------- -->
                    {{ form.submit(value="СОХРАНИТЬ", class="input_submit results-submit") }}
                    <!-- ----------------------------------- -->
                </form>
                <!-- ----------------------------------- -->
                <!-- end Form -->

                <p style="display: none;" id="keywords" class="hidden_text">{{ keywords }}</p>
                <p style="display: none;" id="description" class="hidden_text">{{ description }}</p>



            </div>
            <!-- ----------------------------------- -->
            <!-- end Form container -->

        </div>
        <!-- ======================================== -->
        <!-- end Block -->

    </div>
    <!-- ----------------------------------- -->
    <!-- end results blocks container -->


</main>


{% endblock content %}

{% block javaScript %}
<script>
    keywords = $('p#keywords').text()
    description = $('p#description').text()

    $('#inp_keywords').text(keywords)
    $('#inp_description').text(description)

</script>
{% endblock javaScript %}